body {
  text-align: center; 
  color: #333;
}

h1 {
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 50px;
  line-height: 1.2em;
  margin-bottom: 0px;
}

p {
  font-family: Source Sans Pro;
  text-align: center;
  font-size: 23px; 
  line-height: 1.3em;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  margin: 0 auto; 
/*  border-radius: 200px; */
  margin-top: 30px; 
  height: 170px; 
}

ul {
  font-family: Source Sans Pro;
/*  font-family: Playfair Display;*/
  padding: 0;
}

li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center
}

a {
  padding: 2px 8px; 
  border: 1px solid #00b386;
  border-radius: 2px; 
  letter-spacing: .1em; 
  text-transform: uppercase; 
  font-weight: 400; 
  font-size: 14px;
  color: #00b386;
  text-decoration: none;
}






.box {
  padding: 0.5em;
  padding-top: 1em;
/*	width: 100%;*/
  margin: 0.7em;
}

.box-2 {
	padding: 0.5em;
	width: calc(100%/2 - 1em);
}

.cropper_cropped {
  margin: 1em auto;
  max-width: 80%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
}


.btn{
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: white;
  color:  #333;
}

.hide {
/*	display: none;*/
/*  color: white;*/
  pointer-events: none;
  text-indent: -9999px;
}

img {
	max-width: 100%;
}

.version {
  font-family: monospace;
  font-size: 10px;
  text-align: right;
/*  margin-right: 1em;*/
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding-right: 1em;
}

.status {
  font-family: monospace;
  font-size: 10px;
  text-align: left;
/*  margin-right: 1em;*/
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding-left: 1em;
}

#status_ok {
  color: limegreen
}

#status_down {
  color: orangered
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#progress {
  padding: 0.5em;
  font-family: monospace;
  font-size: 14px;
}

.disclaimer {
  font-family: Source Sans Pro;
  font-size: 9;
  line-height: 1.3em;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}




