/*
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
font-family: Source Sans Pro;*/

html,body
{
  width: 100%;
  margin: 0em;
  padding: 0em;
  overflow-x: hidden; 
  text-align: center;
  font-family: monospace;
  color: #333;
}

h1 {
  font-size: 2em;
}

h1.project_h1 {
  font-size: 2em;
  margin-top: 1em;
}

h2 {
  font-size: 1.5em;
}

hr {
  width: 80%;
  margin-top: 3em;
  margin-bottom: 1em
}

p {
  font-size: 1.5em; 
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

ul.breadcrumb {
  margin-top: 2em;
  text-align: center;
  font-family: monospace;
  padding: 0em;
}

ul.social_buttons {
  margin-top: 2em;
  text-align: center;
  font-family: monospace;
  padding: 0em;
}

li {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  justify-content: center;
}

.bread_crumb {
  color: #333;
}
.bread_crumb:link {
  text-decoration: none;
  color: #333;
  border-bottom: 1px dashed;
  text-decoration: none;
  transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
}
.bread_crumb:hover {
  color: darkseagreen;
}

.buttons {
  padding: 0.5em;
  padding-top: 1em;
  margin: 0.7em;
}

.preview {
  margin: 1em auto;
  max-width: 80%;
}

.btn {
  font-family: monospace;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: white;
  color: #333;
}
.btn:hover {
  border: 1px solid #333;
}
.hide {
  display: none;
}

.progress {
  color: #C1C1C1;
  pointer-events: none;
  border: 1px solid white;
}

img {
  max-width: 100%;
  margin-bottom: 1em;
}

.version {
  font-family: monospace;
  font-size: 14px;
  text-align: right;
  position: fixed;
  bottom: 0em;
  right: 1ex;
  padding-right: 5px;
  width: 100%;
  line-height: 3ex;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.7);
}
#status_ok {
  color: limegreen;
}
#status_down {
  color: orangered;
}

input[type="file"] {
  display: none;
}

.social {
  color: #333;
  font-size: 1.5em;
}
.social:link {
  text-decoration: none;
  border-bottom: 1px dashed;
  transition: color 0.2s linear;
}
.social:hover {
  color: darkseagreen;
}

.disclaimer {
  font-family: monospace;
  font-size: 1em;
  line-height: 1.3em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.project {
  font-family: monospace;
  text-align: center;
  font-size: 1.5em; 
  line-height: 1.3em;
  margin-left: auto;
  margin-right: auto;
  color: #333;
}
.project:link {
  text-decoration: none;
  border-bottom: 1px dashed;
  transition: color 0.2s linear;
}
.project:hover {
  color: darkseagreen;
}
